@use "cirrus-ui/src/cirrus-ext" as * with (
    $config: (
        extend: (
            colors: (
                'magenta': (
                    '100': #FEF7F4,
                    '200': #FBE0DD,
                    '300': #F2AFB3,
                    '400': #EC798B,
                    '500': #DC5472,
                    '600': #BC3263,
                    '700': #98184D,
                    '800': #73123F,
                    '900': #560E39,
                ),

                'gradient': (
                    '100': #8E2DE2,
                    '200': #8627E2,
                    '300': #7D22E2,
                    '400': #751CE1,
                    '500': #6C17E1,
                    '600': #6411E1,
                    '700': #5B0BE1,
                    '800': #5306E0,
                    '900': #4A00E0,
                )
            )
        )
    ),
);